:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: #d8dee9;
    --entry: #eceff4;
    --primary: #2e3440;
    --secondary: #3b4252;
    --tertiary: #88c0d0;
    --content: #3b4252;
    --hljs-bg: #2e3440;
    --code-bg: #d8dee9;
    --border: #81a1c1;
}

.dark {
    --theme: #2e3440;
    --entry: #3b4252;
    --primary: #eceff4;
    --secondary: #e5e9f0;
    --tertiary: #5e81ac;
    --content: #d8dee9;
    --hljs-bg: #2e3440;
    --code-bg: #3b4252;
    --border: #4c566a;
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
